<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <img
    class="navbar-brand"
    width="200"
    alt="Main Logo"
    src="./assets/images/1.png"
  />
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Home</a>
      <a href="#Products" class="nav-item nav-link">Products</a>
      <a href="#Services" class="nav-item nav-link">Services</a>
      <a href="#ContactUs" class="nav-item nav-link">Contact</a>
    </div>
  </div>
</nav>
<div class="card-container">
  <div id="mainContent">
    <div>
      <div style="background: #273da0; text-align: center; padding-bottom: 40px; padding-top: 10px">
        <p
          style="
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5em;
          "
        >
          INDUSTRIAL GEAR BOX SERVICES
        </p>
        <p
          class="marquee"
          style="
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            padding-top: 10px;
            white-space: nowrap;
            animation: floatText 10s infinite alternate ease-in-out;
            position: absolute;
          "
        >
          ** 24x7 support for all gear related issues **
        </p>
      </div>
    </div>
    <div class="container" style="max-width: 1300px !important;">
      <div class="row" style="text-align: center">
        <div class="">
          <div class="card" style="width: 16rem">
            <img
              src="./assets/images/gearnew_01.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Inspection </h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">
               Gearbox inspection is desirable in many situations, there may be constraints that limit the extent 
                of the inspection such as cost, time, accessibility and qualified personnel.
              </p>
              <!-- <a href="#" class="btn"><i class="fab fa-github"></i> Github</a> -->
              <a href="#Services" class="btn">Know more</a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card" style="width: 16rem">
            <img
              src="./assets/images/gearnew_1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Endoscopy Inspection</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">
                For sensitive applications, we recommend an annual inspection with
            endoscopy. Our experts are available for flexible scheduling
            options.
              </p>

              <a href="#Services" class="btn">Know more</a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card" style="width: 16rem">
            <img
              src="./assets/images/gearnew_2.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Vibration Measurement</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">
                Measuring vibrations during the operation of a machine can yield
            valuable information about the dominant operating conditions or
            possible damages.
              </p>

              <a href="#Services" class="btn">Know more</a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card" style="width: 16rem">
            <img
              src="./assets/images/gear3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alignment Check & Correction</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">
                Operating gear boxes in misaligned conditions can induce forces on
            bearings and gear mesh and can cause severe mechanical stresses.
              </p>

              <a href="#Services" class="btn">Know more</a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card" style="width: 16rem">
            <img
              src="./assets/images/gear4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Overhaul of the Gear box</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">
                As per the design calculations, OEM’s recommends for overhaul of
            gear boxes after certain of operating hours.
              </p>

              <a href="#Services" class="btn">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 40px; text-align: center">
    <blockquote
      style="
        font-size: 17px;
        line-height: 24px;
        color: black;
        font-style: italic;
      "
    >
      We have hands on experience on industrial Gear boxes and we do support our
      clients in installation, Commissioning, inspection, trouble shooting,
      repair, alignment, overhaul, condition monitoring of the Gearboxes.
    </blockquote>
  </div>
  <div id="Products">
    <div
      class="div-general-header"
      style="
        background-image: url(./assets/images/products.jpg);
        background-size: 100%;
      "
    >
      <p style="font-size: 4em; font-weight: 100">Products</p>
      <br />
      <p style="font-size: 1.5em !important; font-weight: 100">
        Products overview
      </p>
    </div>
    <div class="content">
      <div style="margin-left: 50px; margin-right: 50px">
        <div style="margin-left: 40px; border-bottom: 2px solid #f4f4f4">
          <h2 class="div-general-h2">Online monitoring system</h2>
          <div style="text-align: center">
            <p style="font-size: 2em">TriVibe Vibration Sensor</p>
            <br />
            <p style="font-size: 1.2em">
              📈 Predictive Maintenance Powered by AI 📈
            </p>
            <br />
            <p style="font-size: 1.2em">
              🔌 Plug & Play Remote Condition Monitoring 🔌
            </p>
            <br />
            <p style="font-size: 1.2em">
              🛠 5 Year Maintenance Free Lifecycle (No Batteries) 🛠
            </p>
            <br />
          </div>
          <div style="padding: 20 20 20 20 !important">
            <p style="font-size: 1.2em; text-decoration: underline">
              What is it?
            </p>

            <p style="font-size: 1.2em">
              MachineSaver’s is proud to manufacture the industry leading 3 axis
              digital TriVibe vibration and temperature sensor. Capable of
              50,000+ vibration Samples per second, which makes it an excellent
              addition to gather data for analytical vibration software and
              Machine Learning AI Applications. This is used by IIOT companies
              around the world to gather data for their respective software
              solutions.
            </p>
            <br />

            <p style="font-size: 1.2em; text-decoration: underline">
              How does it work
            </p>
            <p class="div-general-p" style="font-size: 1.2em !important">
              It employs a Serial Modbus RS485 communications protocol and acts
              as a slave device for a master controller. It polls data near real
              time and is capable of delivering both bytes of overall statice
              vibration data as well as raw vibration data used to create
              extremely high resolution spectrum/time waveform graphs for
              analysts to diagnose machine bearing health and detect anomalies.
            </p>
            <br />

            <p style="font-size: 1.2em; text-decoration: underline">
              Which problem does it solve?
            </p>
            <p class="div-general-p" style="font-size: 1.2em !important">
              From the highly detailed data that it outputs, this sensor is
              capable of detecting bearing and machine process failures months
              before it becomes catastrophic damage to your machine. Due to its
              high output of both samples and resolution, it can also pair
              nicely with machine learning algorithms in a gateway/software to
              automatically diagnose impending machine failures and anomalies.
              With this detailed data, the ML/AI software can learn faster and
              more accurately as well.
            </p>
            <br />
          </div>
        </div>
      </div>

      <div style="margin-left: 50px; margin-right: 50px">
        <div style="margin-left: 40px; border-bottom: 2px solid #f4f4f4">
          <h2 class="div-general-h2">MachineCloud Software</h2>
          <div>
            <p style="font-size: 1.2em">
              You don’t have to wait for your machine to fail so Artificial
              Intelligence can learn. Our Artificial Intelligence algorithms
              have been learning with a data base generated for 15 years from
              more than 60,000 machines analyzed per month. Take the initiative
              toward the next step.
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Services">
    <div
      class="div-general-header"
      style="
        background-image: url(./assets/images/services1.jpg);
        background-size: 100%;
      "
    >
      <p style="font-size: 4em; font-weight: 100">Services we provide</p>
      <br />
      <p style="font-size: 1.5em !important; font-weight: 100">
        We provide the below services
      </p>
    </div>
    <div class="content">
      <div style="margin-left: 50px; margin-right: 50px">
        <div style="margin-left: 40px; border-bottom: 2px solid #f4f4f4">
          <h2 class="div-general-h2">Inspection</h2>
          <p class="div-general-p">
            Although a comprehensive on-site gearbox inspection is desirable in
            many situations, there may be constraints that limit the extent of
            the inspection such as cost, time, accessibility and qualified
            personnel.<br />
            Cost and shutdown time might be perceived as prohibitive by
            management but catching a problem in its earliest stages can save
            time and money in the long run. While it may seem too difficult to
            do a comprehensive inspection, a simple visual inspection of gear
            contact patterns through an inspection port can prevent future
            catastrophic failures. An Gear-Pro expert can be hired to perform
            the inspection and train personnel. Overcoming constraints in order
            to allow an inspection can help to extend gearbox life and avoid
            catastrophic failure. This might save time, money, injury to
            personnel and damage to adjacent equipment.
          </p>
        </div>
        <div style="margin-left: 40px; border-bottom: 2px solid #f4f4f4">
          <h2 class="div-general-h2">Endoscopy Inspection</h2>
          <p class="div-general-p">
            At GEARPRO, we use endoscopy to efficiently inspect assets on-site
            and avoid any disassembly. This makes it possible to save time for
            our clients without disassembly of the gear box and identify damages
            early, particularly on the gears and bearings of large gearboxes,
            and prevent unplanned downtime. For sensitive applications, we
            recommend an annual inspection with endoscopy. Our experts are
            available for flexible scheduling options.
          </p>
        </div>
        <div style="margin-left: 40px; border-bottom: 2px solid #f4f4f4">
          <h2 class="div-general-h2">Vibration Measurement</h2>
          <p class="div-general-p">
            At GEARPRO, we are ISO 18436-2 certified from USA and helping our
            clients in solving the issues pertaining to gear box vibrations and
            helping them in operating their equipment without any unexpected
            catastrophic failure.
            <br /><br />
            Measuring vibrations during the operation of a machine can yield
            valuable information about the dominant operating conditions or
            possible damages. During steady-state operation there is typically a
            periodic signal that can be broken down into the dominant
            frequencies via Fast-Fourier-Transformation (FFT). These frequencies
            can then be compared to the characteristic frequencies of the
            system’s components.<br /><br />
            The turning of a shaft leads to a vibrational excitation
            corresponding to the rotational frequency of the shaft or a whole
            number multiple thereof. Damage on a bearing ring leads to an
            excitation corresponding with the rolling element frequency that
            results from the rotational speed and bearing geometry. One can also
            consider the frequency of tooth engagement or the electrical
            supply.<br /><br />
            Under non-steady-state conditions, i.e. changing rotational speeds
            and loads, FFT is generally not applicable. However, in these cases
            the peak values can be classified and counted. This applies to e.g.
            the bumps that a train car gearbox experiences when it changes
            tracks, goes over road crossings, or even drives over a track with
            imperfections. In this manner, sections can be identified that have
            an increased contribution to the deterioration of the mechanical
            structure.<br /><br />
            In various industrial machines such as rubber mixers and mills, the
            load peaks correspond strongly to the process parameters. In these
            cases, class counting can be used to optimize the process, allowing
            the demands on the mechanical structure to be reduced without
            sacrificing productivity.<br /><br />
            <br /><br />
            <img
              width="550"
              alt="Footer Logo"
              src="./assets/images/Service1.png"
            />
          </p>
        </div>
        <div style="margin-left: 40px; border-bottom: 2px solid #f4f4f4">
          <h2 class="div-general-h2">Alignment Check & Correction</h2>
          <p class="div-general-p">
            During operation due to the equipment vibrations, Anchor bolt toque
            issues, concrete settlement (in the green field projects), etc there
            is always a chance of developing misalignment between driver-driven
            equipment. Operating gear boxes in misaligned conditions can induce
            forces on bearings and gear mesh and can cause severe mechanical
            stresses, which may lead pre-mature failure. To avoid any such
            failure its is recommended to check the alignment of the critical
            devices on regular maintenance schedules. At GEARPRO we have
            expertise and helping our client on aligning DRIVER-DRIVEN Machines.
          </p>
        </div>
        <div style="margin-left: 40px; border-bottom: 2px solid #f4f4f4">
          <h2 class="div-general-h2">Overhaul of the Gear box</h2>
          <p class="div-general-p">
            Every gear and bearings are designed to only certain load carrying
            capacity and to certain life period. During operation on load Gear
            boxes under goes fatigue load. Fatigue loads on gear box internals
            will cause to contribute mechanical problems and leads to
            operational efficiency of the equipment and can also lead to
            catastrophic failure. <br /><br />
            As per the design calculations, OEM’s recommends for overhaul of
            gear boxes after certain of operating hours. It is mandatory to
            follow OEM overhaul schedule and rebuilt the gear boxes. We, at
            GEARPRO have hands-on expertise experience and knowledge in
            rebuilding gear boxes for our clients with precision accuracy and
            helping our clients to finish their gear boxes rebuilt job on time.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="ContactUs">
    <div class="div-general-header">
      <p style="font-size: 4em; font-weight: 100">Get in touch</p>
      <br />
      <p style="font-size: 1.5em !important; font-weight: 100">
        Want to get in touch? We'd love to hear from you. Here's how you can
        reach us...
      </p>
    </div>
    <div style="margin-left: 50px; margin-right: 50px" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4 div-general-left">
        <h2 class="div-general-h2">
          Gear Pro provides the best service possible with every contact!
        </h2>
        <p class="div-general-p">
          We operate in an industry built on trust. This can only be achieved
          through communication and experienced support
        </p>
        <p class="div-general-p">
          Have questions about the products and service we offer? Our entire
          team receives specialized training regularly to ensure you're
          receiving the best information possible. From basic questions to
          complex compliance inquiries, we're here to help!
        </p>
      </div>
      <div
        class="col-md-3"
        style="text-align: left; margin-top: 20px; margin-bottom: 20px"
      >
        <h2 class="div-general-h2">Corporate Office</h2>
        <p class="div-general-p">
          C801,<br />
          Galaxy Apartment, Raghavendra Nagar Colony,<br />
          Kondapur, Hyderabad,<br />
          Telangana 500084.
        </p>
        <h2 class="div-general-h2">Direct Contact</h2>
        <p class="div-general-p">
          <i class="fa fa-id-card fa-1x" style="color: darkgrey !important"></i>
          Ramesh P V<br />
          <i class="fa fa-phone fa-1x" style="color: darkgrey !important"></i>
          +91 9585752053<br />
          <i
            class="fa fa-envelope fa-1x"
            style="color: darkgrey !important"
          ></i>
          <a href="mailto:madhav.vm@gmail.com">madhav.vm@gmail.com</a> |
          <a href="mailto:mesh17@rediffmail.com">mesh17@rediffmail.com</a>
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div style="margin: 20px" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6">
            <label for="inp" class="inp">
              <input type="text" id="inp" placeholder="&nbsp;" />
              <span class="label">Firstname</span>
              <span class="focus-bg"></span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="lastname" class="inp">
              <input type="text" id="lastname" placeholder="&nbsp;" />
              <span class="label">Lastname</span>
              <span class="focus-bg"></span>
            </label>
          </div>
        </div>
        <div class="row contact-control">
          <div class="col-md-6">
            <label for="phone" class="inp">
              <input type="tel" id="phone" placeholder="&nbsp;" />
              <span class="label">Phone</span>
              <span class="focus-bg"></span>
            </label>
          </div>
          <div class="col-md-6">
            <label for="email" class="inp">
              <input type="email" id="email" placeholder="&nbsp;" />
              <span class="label">Email</span>
              <span class="focus-bg"></span>
            </label>
          </div>
        </div>
        <div class="row contact-control">
          <div class="col-md-12">
            <label for="message" class="inp">
              <textarea
                name="message"
                cols="40"
                rows="5"
                placeholder="&nbsp;"
              ></textarea>
              <span class="label">Message</span>
              <span class="focus-bg"></span>
            </label>
          </div>
        </div>
        <div class="row" style="text-align: end">
          <div class="col-md-12">
            <button class="btn">Reach us</button>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div
    class="row"
    style="
      width: 100%;
      background: #0d72ba;
      text-align: center;
      padding: 15px;
      margin: 0 !important;
    "
  >
    <div class="col-md-4">
      <img width="150" alt="Footer Logo" src="./assets/images/2.jpeg" />
      <p style="color: #cedbe3; font-size: 12px">
        ©2021, Gear Pro Industrial. All Rights Reserved.
      </p>
    </div>
    <div class="col-md-4 footernavbar">
      <a href="#" style="color: white !important; font-size: 15px">Home</a>
      &nbsp;
      <a href="#" style="color: white !important; font-size: 15px">Products</a>
      &nbsp;
      <a href="#" style="color: white !important; font-size: 15px">Services</a>
      &nbsp;
      <a href="#" style="color: white !important; font-size: 15px">Contact</a>
    </div>
    <div class="col-md-4">
      <i class="fa fa-facebook fa-2x"></i>
      <i class="fa fa-twitter fa-2x"></i>
      <i class="fa fa-linkedin fa-2x"></i>
    </div>
  </div>
</div>
