:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.navbar {
  background-color: white !important;
  border-bottom: 3px solid #5cb841;
}

.nav-item {
  color: black !important;
  font: 18px OpenSans, sans-serif;
}

a.nav-item.nav-link:hover {
  color: #0d72ba !important;
  border-bottom: 3px solid #126bb5;
}

a.nav-item.nav-link.active {
  color: #0d72ba !important;
  border-bottom: 3px solid #126bb5;
  // text-decoration: underline;
  // text-decoration-color: #0e3464;
  // text-decoration-thickness: 0.25em;
}

span.navbar-toggler-icon {
  background-image: url(../assets/images/navicon.jpg);
  cursor: pointer;
}

.fa {
  color: white;
  padding: 10px;
}

.fa:hover {
  color: #007bff !important;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@keyframes floatText {
	from {
		left: 00%;
	}
	to {
/* left: auto; */
		left: 75%;
	}
}

.card {
  background:#efefef;
  border: 1px solid #ffffff;
  color: #0e3464;
  margin-bottom: 2rem;
  transition: 0.7s;
  height: 470px;
  cursor: pointer;
}

.card:hover {
  
  color: #fff;
  transform: scale(1.2);
  z-index: 9;
  background: #0e3464;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white !important;
  background-color: black;
  border: none;

  &:hover {
    background-color: lighten(black, 5%);
  }

  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

.div-general-left {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  border-right: 2px solid #f4f4f4;
}

.div-general-header {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(to right, #55637d, #062256);
  color: white;
  text-align: center;
}

.div-general-h2 {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.25;
  color: #1a468d;
  // margin-left: 40px;
}

.div-general-p {
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-top: 10px;
  // margin-left: 40px;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  // max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input,
textarea {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp textarea:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp textarea:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077ff;
}
.inp textarea:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077ff;
}
.inp input:focus + .label {
  color: #0077ff;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp textarea:focus + .label {
  color: #0077ff;
  transform: translate3d(0, -20px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
.inp textarea:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

@media screen and (max-width: 575px) {
  @keyframes floatText {
    from {
      left: 00%;
    }
    to {
  /* left: auto; */
      left: 38%;
    }
  }
}