<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <img
    class="navbar-brand"
    width="200"
    alt="Angular Logo"
    src="../assets/images/1.png"
  />
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Home</a>
      <a href="#" class="nav-item nav-link">Products</a>
      <a href="#Services" class="nav-item nav-link">Services</a>
      <a href="#ContactUs" class="nav-item nav-link">Contact</a>
    </div>
  </div>
</nav>
<div class="content" role="main">
  <div class="card-container">
    <div id="mainContent">
      <main class="page-content">
        <div class="card">
          <div class="card-content">
            <h2 class="title">Gear 1</h2>
            <p class="copy">
              Check out all of these gorgeous mountain trips with beautiful
              views of, you guessed it, the mountains
            </p>
            <button class="btn">Know more</button>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <h2 class="title">Gear 2</h2>
            <p class="copy">
              Plan your next beach trip with these fabulous destinations
            </p>
            <button class="btn">Know more</button>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <h2 class="title">Gear 3</h2>
            <p class="copy">It's the desert you've always dreamed of</p>
            <button class="btn">Know more</button>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <h2 class="title">Gear 4</h2>
            <p class="copy">
              Seriously, straight up, just blast off into outer space today
            </p>
            <button class="btn">Know more</button>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <h2 class="title">Gear 5</h2>
            <p class="copy">
              Seriously, straight up, just blast off into outer space today
            </p>
            <button class="btn">Know more</button>
          </div>
        </div>
      </main>
    </div>
    <div id="Services">
      <div
        class="div-general-header"
        style="
          background-image: linear-gradient(
            to right,
            #caa5e8,
            #a258df
          ) !important;
        "
      >
        <p style="font-size: 4em; font-weight: 100">Services we provide</p>
        <br />
        <p style="font-size: 1.5em !important; font-weight: 100"></p>
      </div>
      <div style="margin-left: 50px; margin-right: 50px" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4 div-general-left">
          <h2 class="div-general-h2">Service 1</h2>
          <p class="div-general-p">Content about service 1......</p>
          <p class="div-general-p">Content about service 1......</p>
        </div>
        <div
          class="col-md-4"
          style="text-align: left; margin-top: 20px; margin-bottom: 20px"
        >
          <h2 class="div-general-h2">Service 2</h2>
          <p class="div-general-p">Content about service 2......</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div style="margin-left: 50px; margin-right: 50px" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4 div-general-left">
          <h2 class="div-general-h2">Service 3</h2>
          <p class="div-general-p">Content about service 3......</p>
          <p class="div-general-p">Content about service 3......</p>
        </div>
        <div
          class="col-md-4"
          style="text-align: left; margin-top: 20px; margin-bottom: 20px"
        >
          <h2 class="div-general-h2">Service 4</h2>
          <p class="div-general-p">Content about service 4......</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div id="ContactUs">
      <div class="div-general-header">
        <p style="font-size: 4em; font-weight: 100">Get in touch</p>
        <br />
        <p style="font-size: 1.5em !important; font-weight: 100">
          Want to get in touch? We'd love to hear from you. Here's how you can
          reach us...
        </p>
      </div>
      <div style="margin-left: 50px; margin-right: 50px" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4 div-general-left">
          <h2 class="div-general-h2">
            Gear Pro provides the best service possible with every contact!
          </h2>
          <p class="div-general-p">
            We operate in an industry built on trust. This can only be achieved
            through communication and experienced support
          </p>
          <p class="div-general-p">
            Have questions about the products and service we offer? Our entire
            team receives specialized training regularly to ensure you're
            receiving the best information possible. From basic questions to
            complex compliance inquiries, we're here to help!
          </p>
        </div>
        <div
          class="col-md-3"
          style="text-align: left; margin-top: 20px; margin-bottom: 20px"
        >
          <h2 class="div-general-h2">Corporate Office</h2>
          <p class="div-general-p">
            HIG-185, Road No 5,<br />
            Kukatpally, Hyderabad,<br />
            Telangana 500085.
          </p>
          <h2 class="div-general-h2">Direct Contact</h2>
          <p class="div-general-p">
            <i class="fa fa-phone fa-1x" style="color: darkgrey !important"></i>
            +91 988 5857 580<br />
            <i class="fa fa-phone fa-1x" style="color: darkgrey !important"></i>
            +91 958 5753 053<br />
            <i
              class="fa fa-envelope fa-1x"
              style="color: darkgrey !important"
            ></i>
            <a href="mailto:someone@yoursite.com">support@gearpro.com</a>
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div style="margin: 20px" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <label for="inp" class="inp">
                <input type="text" id="inp" placeholder="&nbsp;" />
                <span class="label">Firstname</span>
                <span class="focus-bg"></span>
              </label>
            </div>
            <div class="col-md-6">
              <label for="lastname" class="inp">
                <input type="text" id="lastname" placeholder="&nbsp;" />
                <span class="label">Lastname</span>
                <span class="focus-bg"></span>
              </label>
            </div>
          </div>
          <div class="row contact-control">
            <div class="col-md-6">
              <label for="phone" class="inp">
                <input type="tel" id="phone" placeholder="&nbsp;" />
                <span class="label">Phone</span>
                <span class="focus-bg"></span>
              </label>
            </div>
            <div class="col-md-6">
              <label for="email" class="inp">
                <input type="email" id="email" placeholder="&nbsp;" />
                <span class="label">Email</span>
                <span class="focus-bg"></span>
              </label>
            </div>
          </div>
          <div class="row contact-control">
            <div class="col-md-12">
              <label for="message" class="inp">
                <textarea
                  name="message"
                  cols="40"
                  rows="5"
                  placeholder="&nbsp;"
                ></textarea>
                <span class="label">Message</span>
                <span class="focus-bg"></span>
              </label>
            </div>
          </div>
          <div class="row" style="text-align: end">
            <div class="col-md-12">
              <button class="btn">Reach us</button>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div
    class="row"
    style="
      width: 100%;
      background: #0d72ba;
      text-align: center;
      padding: 15px;
      margin: 0 !important;
    "
  >
    <div class="col-md-4">
      <img width="150" alt="Angular Logo" src="../assets/images/2.jpeg" />
      <p style="color: #cedbe3; font-size: 12px">
        ©2021, Gear Pro Industrial. All Rights Reserved.
      </p>
    </div>
    <div class="col-md-4 footernavbar">
      <a href="#" style="color: white !important; font-size: 15px">Home</a>
      &nbsp;
      <a href="#" style="color: white !important; font-size: 15px">Products</a>
      &nbsp;
      <a href="#" style="color: white !important; font-size: 15px">Services</a>
      &nbsp;
      <a href="#" style="color: white !important; font-size: 15px">Contact</a>
    </div>
    <div class="col-md-4">
      <i class="fa fa-facebook fa-2x"></i>
      <i class="fa fa-twitter fa-2x"></i>
      <i class="fa fa-linkedin fa-2x"></i>
    </div>
  </div>
</div>
